@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    font-family: "IRANYekan";
    overflow-wrap: break-word;
  }
}
:root {
  --primary: #00b3bd;
  --primary-50: #e0f8f8;
  --primary-100: #b3eeed;
  --primary-200: #82e3e4;
  --primary-300: #50d6da;
  --primary-400: #29cdd4;
  --primary-500: #00c4cf;
  --primary-600: #00b3bd;
  --primary-700: #009ea3;
  --primary-800: #008a8c;
  --primary-900: #036662;
  --primary-950: #01504d;

  --secondary: #262d5d;
  --secondary-50: #e3e5eb;
  --secondary-100: #babdcf;
  --secondary-200: #8e93ae;
  --secondary-300: #656b8d;
  --secondary-400: #484e78;
  --secondary-500: #2b3365;
  --secondary-600: #262d5d;
  --secondary-700: #1f2453;
  --secondary-800: #181c47;
  --secondary-900: #0e0c31;
  --secondary-950: #070621;

  --special-1: #FFFFFF05;
  --special-2: #ffffff00;
  --special-3: #0000009C;
  --special-4: #00000033;

  ---bg: url('');
  --footer-bg: url('../images/footer-background.jpg');

}

@font-face {
  font-display: swap;
  font-family: 'IRANYekan';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/IRANYekanRegular.ttf') format('truetype');
}
@font-face {
  font-display: swap;
  font-family: 'IRANYekan';
  font-style: normal;
  font-weight: 500;
  src: url('../fonts/DanaFaNum.ttf') format('truetype');
}
@font-face {
  font-display: swap;
  font-family: 'IRANYekan';
  font-style: normal;
  font-weight: 700;
  src: url('../fonts/IRANYekanBold.ttf') format('truetype');
}


.my-scroll-box::-webkit-scrollbar {
  width: 4px;
}

.my-scroll-box::-webkit-scrollbar-track {
  background: #f1f1f1;
  border-radius: 3px;
}

.my-scroll-box::-webkit-scrollbar-thumb {
  background: var(--primary-600);
  border-radius: 3px;
}

.my-scroll-box::-webkit-scrollbar-thumb:hover {
  background: var(--secondary-300);
}
